body {
  font: 12px sans-serif;
  margin: 0;
}
.placeholder-box{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  padding: 0 33px;
  box-sizing: border-box;
}
.placeholder-title {
  font-size: 22px;
  line-height: 50px;
  color: #444;
  margin-bottom: 10px;
}
.placeholder-secondary {
  font-size: 12px;
  color: #999;
  line-height: 28px;
}
.placeholder-box img {
  margin-left: 6px;
}
.chat-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-header{
  /* height: 40px; */
  padding: 8px 16px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}
.chat-controls {
  display: flex;
  margin: 16px;
  position: relative;
  margin-top: 0px;
}
.chat-controls textarea {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  font-size: 13px;
  padding-right: 48px;
  height: 48px;
  max-height: 72px;
  line-height: 16px;
  resize: none;
}
.chat-controls button {
  margin-bottom: 0px;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8px;
  /* background-color: #18a0fb; */
  background-color: #000;
  border: none;
  cursor: pointer;
}
.chat-container .button-icon{
  width: 16px;
  height: 16px;
}

.chat-container{
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.chat-message {
  text-align: left;
  font-size: 13px;
  padding: 0px 16px;
  margin-bottom: 6px;
  margin-top: 6px;
  line-height: 20px;
  clear: both;
}
/* .chat-message::after{
  content: '';
  display: table;
  clear: both;
} */
.user-message {
  background-color: #f6f6f6 !important;
  width: max-content;
  border-radius: 20px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-self: end;
  margin-right: 16px;
  margin-top: 12px;
  max-width: 67%;
  padding: 10px 16px !important;
  float: right;
}
.system-message {
  background-color: #fff;
  float: left;
}